* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* media query da tablet in su */
@media all and (min-width: 769px) {
  #navbar-left .logo-none, #navbar-left .home-none, #navbar-left .search-none, #navbar-left .library-none, #navbar-left .download-icon-none {
    display: none;
  }

  #navbar-left {
    width: 230px;
  }

  #main-content {
    width: calc(100% - 230px);
  }

  #main-content .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    z-index: 900;
  }

  #main-content .navbar-right {
    padding-top: 90px;
  }

}

/* media query xs */
@media all and (max-width: 768px) {
  #navbar-left .navbar-logo, #navbar-left .hsl, #navbar-left .navbar-playlist, #navbar-left .contenuto-navbar-bottom {
    display: none;
  }
  /* navbar xs */
  #navbar-left {
    width: 60px;
  }

  #navbar-left .navbar-xs-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
  }


  #main-content {
    width: calc(100% - 60px);
  }

  #main-content .card-container-flex {
    flex-wrap: wrap;
  }

  #main-content .card {
    flex-grow: 1;
  }

  #main-content .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    z-index: 900;
  }

  #main-content .navbar-right {
    padding-top: 90px;
  }


}


.container {
  width: 100%;
  height: 100vh;
}

main::after {
  content: "";
  display: table;
  clear: both;
}


/* navbar */
main #navbar-left {
  /* width: 230px; */
  height: calc(100vh - 90px);
  float: left;
  overflow-y: hidden;
  background-color: #1a1a1a;
  /* debug */
  border: 1px solid black;
}

#navbar-left .logo-none img, #navbar-left .home-none img, #navbar-left .search-none img, #navbar-left .library-none img {
  width: 40px;
  height: 40px;
  padding: 10px 0 0 10px;
}

#navbar-left .navbar-logo img {
  max-width: 100%;
  height: 40px;
}

#navbar-left .navbar-logo {
  padding: 10px 0 0 10px;
}

#navbar-left .hsl {
  margin: 10px 0 10px 10px;
}

#navbar-left .hsl img {
  width: 10%;
  height: 20px;
}

#navbar-left .hsl a {
  text-decoration: none;
  color: lightgrey;
}

#navbar-left .navbar-playlist h5 {
  margin-left: 10px;
  color: #fff;
}

#navbar-left .crea-playlist-flex a:first-child {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: lightgrey;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 30px;
  font-weight: bold;
}

#navbar-left .crea-playlist-flex {
  display: flex;
  padding: 10px 0 15px 10px;
}

#navbar-left .crea-playlist-flex a:last-child {
  display: inline-block;
  color: lightgrey;
  text-decoration: none;
  align-self: center;
  margin-left: 5px;
}

#navbar-left .nome-playlist-links {
  padding-left: 10px;
}

#navbar-left .nome-playlist-links {
  height: 200px;
  overflow-y: auto;
}

#navbar-left .nome-playlist-links ul li {
  margin-bottom: 15px;
  list-style: none;
}

#navbar-left .nome-playlist-links ul li a {
  text-decoration: none;
  color: lightgrey;
}

#navbar-left .navbar-profile-up {
  display: flex;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid lightgrey;
}


#navbar-left .navbar-profile #download-icon {
  height: 20px;
}

/* navbar xs */

#navbar-left .download-icon-none img {
  width: 40px;
  height: 40px;
  padding: 10px 0 0 10px;
}

#navbar-left .navbar-profile-up a:last-child {
  color: lightgrey;
  text-decoration: none;
  align-self: center;
  margin-left: 5px;
}

#navbar-left .navbar-profile-down {
  display: flex;
  padding-top: 10px;
  width: 90%;
  margin: auto;
}

#navbar-left .navbar-profile-down img {
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

#navbar-left .navbar-profile-down a:last-child {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  margin-left: 5px;
}


#navbar-left .navbar-lg-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* contenuti principali */
main #main-content {
  /* width: calc(100% - 230px); */
  height: calc(100vh - 90px);
  float: left;
  overflow-y: auto;
  background-color: #040415;
  /* debug */
  border: 1px solid black;
}


#main-content .top-bar {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  line-height: 80px;
  padding-right: 30px;
}



#main-content .top-bar span:hover {
  transform: scale(1.1);
}

#main-content .top-bar span {
  display: inline-block;
  transition: 0.2s;
}

#main-content .top-bar a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

#main-content .navbar-right {
  text-align: center;
}

#main-content .navbar-right ul li {
  display: inline-block;
  margin-right: 10px;
}

#main-content .navbar-right ul li a {
  display: inline-block;
  text-decoration: none;
  color: grey;
}

#main-content h2 {
  color: #fff;
  padding: 10px 0 10px 10px;
}

/* container in flex */
#main-content .card-container-flex {
  display: flex;
}

#main-content .card {
  width: 178px;
  margin: 0 10px;
}

/* layover */
#main-content .card > a {
  position: relative;
  display: inline-block;
}

#main-content .card .layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#main-content .card .layover .layover-play {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-content .card > a:hover .layover {
  display: block;
}

/* / */
#main-content .card img {
  width: 100%;
  height: auto;
}

#main-content .card .album-title {
  text-align: center;
}

#main-content .card .album-title h4 {
  color: #fff;
}

#main-content .card .album-title span {
  color: grey;
}

#main-content #padding-bottom {
  padding-bottom: 0;
}

#main-content #album-subtitle {
  display: block;
  margin: 0 0 10px 10px;
  color: grey;
}

#main-content .radius {
  border-radius: 50%;
}


/* footer */
footer .song-player-flex {
  display: flex;
  width: 100%;
  height: 90px;
  /* debug */
  background-color: #404040;
}

footer .player-left-flex, footer .player-central-flex, footer .player-right-flex {
  /* debug */
  border: 1px solid black;
}

footer .player-left-flex, footer .player-right-flex {
  width: 20%;
}

footer .player-central-flex {
  width: 60%;
}

/* parte sinistra di footer */
footer .player-left-flex {
  display: flex;
  align-items: center;
}

footer .song-image {
  margin-left: 10px;
}

footer .song-image img {
  width: 40px;
  height: auto;
}

footer .nome-brano {
  margin-left: 5px;
  width: 40%;
}

footer .nome-brano a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer .nome-brano span {
  display: block;
  font-size: 13px;
  color: lightgrey;
}

footer .folder-heart {
  margin-left: 5%;
  width: 30%;
}

footer .folder-heart a {
  text-decoration: none;
  color: lightgrey;
  margin-right: 5px;
  font-size: 15px;
}

/* parte centrale di footer */
footer .player-central-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer .button-player a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

footer .button-player .play {
  transition: 0.2s;
}

footer .button-player .play:hover {
  transform: scale(1.5);
}

footer .player-row {
  width: 100%;
}

footer .player-row span {
  font-size: 12px;
  color: #fff;
}

footer .player-row #time-player {
  display: inline-block;
  width: 50%;
  height: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 0 20px;
}

/* parte destra di footer */
footer .player-right-flex {
  display: flex;
  align-items: center;
}

footer .player-right-flex .volume-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

footer .player-right-flex a {
  color: #fff;
  margin-right: 10px;
}


footer .player-right-flex span {
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: lightgrey;
  border-radius: 5px;
}
