* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

/* media query xs */
@media all and (max-width: 768px) {
  #navbar-left .navbar-up-lg, #navbar-left .navbar-bottom-lg {
    display: none;
  }
  /* navbar xs */
  #navbar-left {
    width: 60px;
  }

  #navbar-left .navbar-xs {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


  #main-content {
    width: calc(100% - 60px);
  }

  #main-content .card-container {
    flex-wrap: wrap;
  }

  #main-content .card {
    width: 45%;
    flex-grow: 0.5;
  }

  #main-content .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    z-index: 900;
  }

  #main-content .navbar-right {
    padding-top: 90px;
  }


}


/* media query da tablet in su */
@media all and (min-width: 769px) {
  #navbar-left .navbar-up-xs, #navbar-left .navbar-bottom-xs {
    display: none;
  }

  #navbar-left {
    width: 230px;
  }


  #main-content {
    width: calc(100% - 230px);
  }

  #main-content .top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    z-index: 900;
  }

  #main-content .navbar-right {
    padding-top: 90px;
  }

  #main-content .navbar-right ul li a:hover {
    color: #fff;
  }

  #main-content .card-container {
    flex-wrap: wrap;
  }

  #main-content .card {
    width: 30%;
  }

  #main-content .card > a:hover .layover {
    display: block;
  }

  footer .folder-heart i:hover {
    color: #fff;
  }


}

/* media query desktop */
@media all and (min-width: 993px) {

  #main-content .card-container {
    flex-wrap: nowrap;
  }

  #main-content .card {
    width: 15%;
  }

}

/* fine media query */

.container {
  width: 100%;
  height: 100vh;
}

main::after {
  content: "";
  display: table;
  clear: both;
}


/* navbar */
main #navbar-left {
  height: calc(100vh - 90px);
  float: left;
  overflow-y: hidden;
  background-color: #1a1a1a;
}

#navbar-left .logo-none img, #navbar-left .home-none img, #navbar-left .search-none img, #navbar-left .library-none img {
  width: 40px;
  height: 40px;
  padding: 10px 0 0 10px;
}

#navbar-left .navbar-logo img {
  max-width: 100%;
  height: 40px;
}

#navbar-left .navbar-logo {
  padding: 10px 0 0 10px;
}

#navbar-left .hsl {
  padding: 10px 0 10px 10px;
}


#navbar-left .hsl img {
  width: 10%;
  height: 20px;
}


#navbar-left .hsl a {
  text-decoration: none;
  color: #666666;
}

#navbar-left .navbar-playlist h5 {
  margin-left: 10px;
  color: #fff;
}

#navbar-left .crea-playlist a:first-child {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: lightgrey;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 30px;
  font-weight: bold;
}

#navbar-left .crea-playlist {
  padding: 10px 0 15px 10px;
}


#navbar-left .crea-playlist a:last-child {
  display: inline-block;
  color: #666666;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
  margin-left: 5px;
}

#navbar-left .nome-playlist-links {
  height: 200px;
  padding-left: 10px;
  overflow-y: auto;
}

#navbar-left .nome-playlist-links ul li {
  margin-bottom: 15px;
  list-style: none;
}

#navbar-left .nome-playlist-links ul li a {
  text-decoration: none;
  color: #666666;
}

#navbar-left .navbar-profile-up {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #666666;
}


#navbar-left .navbar-profile #download-icon {
  height: 20px;
}

/* navbar xs */

#navbar-left .download-icon-none img {
  width: 40px;
  height: 40px;
  padding: 10px 0 0 10px;
}

#navbar-left .navbar-profile-up a:last-child {
  color: #666666;
  text-decoration: none;
  align-self: center;
  margin-left: 5px;
}

#navbar-left .navbar-profile-down {
  padding-top: 10px;
  width: 90%;
  margin: auto;
}

#navbar-left .navbar-profile-down img {
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

#navbar-left .navbar-profile-down a:last-child {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
  margin-left: 5px;
}


#navbar-left .navbar-lg {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#navbar-left .navbar-up-lg {
  position: relative;
}

#navbar-left .navbar-up-lg #vertical-bar {
  position: absolute;
  left: 0;
  top: 55px;
  color: green;
  font-size: 30px;
}

#navbar-left .navbar-lg a {
  transition: 0.3s;
}

#navbar-left .navbar-lg a:hover {
  color: #fff;
}



/* contenuti principali */
main #main-content {
  height: calc(100vh - 90px);
  float: left;
  overflow-y: auto;
  background-color: #040415;
}


#main-content .top-bar {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  line-height: 80px;
  padding-right: 30px;
}



#main-content .top-bar span:hover {
  transform: scale(1.1);
}

#main-content .top-bar span {
  display: inline-block;
  transition: 0.2s;
}

#main-content .top-bar a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

#main-content .navbar-right {
  text-align: center;
}

#main-content .navbar-right ul li {
  display: inline-block;
  margin-right: 10px;
}

#main-content .navbar-right ul li:first-child {
  position: relative;
}

#main-content .navbar-right ul li:first-child::before {
  content: "";
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 2px solid green;
}


#main-content .navbar-right ul li a {
  display: inline-block;
  text-decoration: none;
  color: #666666;
  transition: 0.3s;
}

#main-content h2 {
  color: #fff;
  padding: 10px 0 10px 10px;
}


#main-content .card {
  margin: 0 10px;
}

/* layover */
#main-content .card > a {
  position: relative;
  display: inline-block;
}

#main-content .card .layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#main-content .card .layover .layover-play {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-content .card img {
  width: 100%;
  height: auto;
}

#main-content .card .album-title {
  text-align: center;
}

#main-content .card .album-title h4 {
  color: #fff;
}

#main-content .card .album-title span {
  color: #666666;
}

#main-content #padding-bottom {
  padding-bottom: 0;
}

#main-content #album-subtitle {
  display: block;
  margin: 0 0 10px 10px;
  color: #666666;
}

#main-content .radius {
  border-radius: 50%;
}


/* footer */
footer .song-player {
  width: 100%;
  height: 90px;
  background-color: #404040;
}


footer .player-left , footer .player-right  {
  width: 20%;
}

footer .player-central {
  width: 60%;
}

/* parte sinistra di footer */
footer .player-left {
  align-items: center;
  cursor: default;
}

footer .song-image {
  margin-left: 10px;
}

footer .song-image img {
  width: 40px;
  height: auto;
}

footer .nome-brano {
  margin-left: 5px;
  width: 40%;
}

footer .nome-brano a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer .nome-brano span {
  display: block;
  font-size: 13px;
  color: #666666;
}

footer .folder-heart {
  margin-left: 5%;
  width: 30%;
}

footer .folder-heart i {
  color: #666666;
  margin-right: 5px;
  font-size: 15px;
  transition: 0.3s;
}

/* parte centrale di footer */
footer .player-central  {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: default;
}

footer .button-player i {
  color: #fff;
  margin: 0 10px;
  /* cursor: default; */
}

footer .button-player .play {
  transition: 0.2s;
}

footer .button-player .play:hover {
  transform: scale(1.3);
}

footer .player-row {
  width: 100%;
}

footer .player-row span {
  font-size: 12px;
  color: #fff;
}

footer .player-row #time-player {
  display: inline-block;
  width: 50%;
  height: 3px;
  background-color: #666666;
  border-radius: 5px;
  margin: 0 20px;
  position: relative;
}

footer .player-row #time-player:hover span:first-child  {
  background-color: green;
}

footer .player-row #time-player:hover #player-ball {
  display: block;
}

footer .player-row #time-player span:first-child {
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

footer .player-row #time-player #player-ball {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 29%;
  transform: translateY(-30%);
  display: none;
}



/* parte destra di footer */
footer .player-right {
  align-items: center;
}

footer .player-right .volume {
  width: 100%;
  align-items: center;
}

footer .player-right i {
  color: #fff;
  margin-right: 10px;
  cursor: default;
}


footer .player-right #volume-row {
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: #666666;
  border-radius: 5px;
  position: relative;
}


footer .player-right #volume-row span:first-child {
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

footer .player-right #volume-row #volume-ball {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 29%;
  transform: translateY(-30%);
  display: none;
}

footer .player-right #volume-row:hover span:first-child {
  background-color: green;
}

footer .player-right #volume-row:hover #volume-ball {
  display: block;
}
